*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  text-align: left;
}

html {
  color: #222;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  line-height: 1.4;
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

figure {
  margin: 0;
  padding: 0;
}

figure:hover{
  cursor: pointer;
}

figcaption {
  text-align: center;
  margin-top: 3px;
}

img {
  max-width: 100%;
}

header{
  display: grid;
  text-align: center;
  /* background-image: url(../images/dw-banner-sparrow-header.jpg); */
  background-image: url(../images/test.jpg);
  background-size: cover;
  background-position: center center;
  height: 800px;
  max-height: 100vh;
  margin: 0;
  grid-template-rows: auto max-content;
}

.title-tagline {
  padding: 50px 5% 0;
}

p {
  margin: .5em 0 .8em;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: normal;
  color: #F3E6D8;
  margin: 5px 0 10px;
  line-height: 1;
}

h2 {
  font-size: 2.75em;
  font-weight: 400;
  color: #FFFFFE;
  margin: 10px 0 20px;
  margin-top: 15px;
}

h3 {
  color: #F3E6D8;
  font-weight: 400;
}

h6 {
  font-size: 19px;
  padding: 0 5%;
  font-weight: normal;
  margin-bottom: 20px;
}

.container{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 4%;
}

main{
  background: #655A5A;
  color: #fffffe;
  padding: 0 0 50px;
}

.blurb {
  display: grid;
  grid-template-columns: auto max-content;
  grid-column-gap: 10px;
}

.blurb--title {
  line-height: 1.1em;
}

.about {
  margin-top: .85em;
}

.about--text{
  margin: 0.1em 0 0.67em;
}

.profile--detail {
  display: inline-block;
  margin: 20px 0 40px;
}

.headshot {
  width: 185px;
  height: auto;
  float: left;
  margin: 0 4% 0.6em 0;
}

.character--title {
  margin: -3px 0 10px;
  text-transform: uppercase;
}

.lead {
  font-size: 30px;
  font-weight: bold;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs {
  margin-top: -70px;
}

.lang--tabs {
  float: right;
  margin-bottom: 40px;
}

.lang--tabs li{
  list-style-type: none;
  display: inline;
  margin: 2.5px;
}

.lang--tabs li a{
  border-radius: 3px;
  background: #f5f5dc;
  padding: 10px 20px;
  color: #333;
  cursor: pointer;
}

.episodes {
  height: 400px;
}

.episode--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 3%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.episode--grid__image {
  border: #FFFFFE 1px solid;
}

@media screen and (max-width: 890px){
  .title-tagline {
    padding-top: 30px;
  }

  .main--title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 720px) {
  .blurb {
    display: block;
  }
  .title, .about {
    display: block;
    width: 100%;
  }
  .tabs {
    margin-top: 0;
  }
  .lang--tabs{
    float:left;
  }


}

@media screen and (min-width: 1440px) {
  header {
    height: 900px;
  }
}
