* {
    /* box-sizing: border-box; */
}

body{
    margin: 0;
    padding: 0;
}

html {
    color: #222;
    font-size: 1.2em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
}

img {
    max-width: 100%;
}

header{
    background-image: url(../images/devils-work-banner.jpg);
    height: 540px;
    max-height: 95vh;
    background-size: cover;
    text-align: center;
    margin: 0;
    position: relative;
}

.title-tagline {
    padding: 50px 5% 0;
    display: table;
    margin: 0 auto;
}

h1 {
    font-family: Times-Roman;
    text-transform: uppercase;
    font-size: 4.5em;
    color: #F3E6D8;
    margin: 5px 0 10px;
    line-height: 1;
}

h6 {
    position: absolute;
    bottom: 20px;
    font-size: 19px;
    padding: 0 5%;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 2.5%;
}

main{
    background: #655A5A;
    color: #fffffe;
    padding: 80px 0;
}

h2 {
    font-family: Times-Bold;
    font-size: 2.75em;
    color: #FFFFFE;
    margin-bottom: 40px;
}

.blurb {
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 10px;
}

.profile--detail {
    display: inline-block;
    margin: 20px 0 30px;
}

.headshot {
    width: 185px;
    height: auto;
    float: left;
    margin: 0 4% 3% 0;
}

.character {

}
.character--title {
    margin: 0 0 10px;
    text-transform: uppercase;
}
.character--bio {

}

td {
  border: 1px solid #000;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}


.episode--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 40px;
}

.episode--grid__image{
    border: #FFFFFE 1px solid;
}